<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple MEAN authorization app with JWT protection. Created by Mikita Melnikau.</p>
  <hr class="my-4">
  <p>Please login or register to continue.</p>
  <a class="btn btn-success btn-lg" [routerLink]="['/login']" role="button">Login</a>
  <a class="btn btn-info btn-lg" [routerLink]="['/register']" role="button">Register</a>
</div>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <h2>Express Backend</h2>
        <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications. Many popular frameworks are based on Express.</p>
        <p><a class="btn btn-secondary" href="https://expressjs.com/" role="button" target="_blank">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>Angular 5</h2>
        <p>Angular is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <h2>MongoDB</h2>
        <p>Is a free and open-source cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with schemas. MongoDB is developed by MongoDB Inc.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->